*{
    margin: 0px;
    color: white;
}
#glass > h1, h3{
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD700;
}
header{
    margin-top: 15%;
    width: 70%;
    height: 30%;
}
#glass{
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    backdrop-filter: blur(10px);
    border-radius: 20px;

}
#color-button{
    font-size: larger;
    font-weight: bolder;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border-radius: 20px;
    border-color: transparent;
}
#color-button:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: white;
}
#color-button::selection{
    box-shadow: none;
}
